body {
  font-family: "Oxygen", sans-serif;
  padding-top: 70px;
}

h1 {
  padding-left: 20px;
}

header {
  padding: 20px;
  text-align: left;
}

h1 a {
  color: black;
  text-decoration: none;
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  margin-right: 20px;
  z-index: 1;
}

hr {
  margin: 0;
  margin-right: 20px;
}

.projectDesc {
  margin: 20px;
  margin-top: 60px;
}

.section {
  margin: 20px;
  margin-top: 80px;
}

.project {
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.project:hover {
  background: rgba(203, 203, 203, 0.292); /* make this whatever you want */
}

footer {
  text-align: center;
  color: #333;
  padding: 10px;
}

a {
  color: #0078d4;
  text-decoration: none;
}

.project-info {
}
.project-image {
  text-align: center; /* Center the image horizontally */
  margin: 20px 0; /* Add some margin for spacing */
}

.project-image img {
  max-width: 60%; /* Ensure the image does not exceed the container width */
  max-height: 60%;
  border-radius: 10px; /* Add rounded corners to the image */
  transition: transform 0.07s;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
  z-index: 0;
  position: sticky;
  cursor: zoom-in;
}

.project-details {
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  cursor: pointer; /* Add a pointer on hover */
  z-index: 2;
}
