body {
    font-family: 'Roboto Mono', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

.section {
    margin: 20px;
}

.project {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.project:hover{
    background: rgba(203, 203, 203, 0.292); /* make this whatever you want */
    }

footer {
    text-align: center;
    color: #333;
    padding: 10px;
}

a {
    color: #0078d4;
    text-decoration: none;
}
